@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root{
    --cinza-fundo: #C4C4C4;
    --cinza-rodape-titulo: #858585;
    --cinza-rodape-link: #474646;
    --branco: #FFFFFF;
    --amarelo: #EB9B00;
    --preto: #000000;
    --azul-gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body{
    background-color: var(--cinza-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
