.carrossel__titulo{
    color: var(--amarelo);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--branco);
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao__titulo{
    color: var(--amarelo);
    font-weight: bold;
    margin-top: 0.5em;
}

.descricao__titulo-livro{
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 18px;
    font-weight: bold;
    padding: 0.5em 0;
}

.descricao__texto{
    color: var(--preto);
    font-size: 14px;
    padding-right: 0.8em;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.botoes__item{
    margin: 1.8em 0.6em 0 0.6em;
}

.botao__saiba-mais{
    text-decoration: none;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--amarelo);
    padding: 1em 2.2em;
    margin-top: 1.5em;
}



@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 26px;
        padding-top: 2em;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }

    .card{
        width: 50%;
        margin: 2.5em auto;
    }

    .card__descricao{
        align-items: flex-start;
    }
}

@media screen and (min-width: 1728px){
    
    .carrossel__container{
        display: flex;
        margin: 1em 10vw 3em 10vw;
        align-items: center;
        justify-content: space-between;
    }

    .carrossel__titulo{
        font-size: 32px;
    }

    .swiper-pagination{
        margin: 0 0 1em 0;
    }

     .swiper{
        width: 80%;
        margin: 0 3em;
    }

    .card{
        width: 100%;
        margin-bottom: 0.5em;
    }

    .descricao__titulo{
        font-size: 36px;
    }

    .descricao__texto{
        font-size: 16px;
    }

}