.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.cabecalho__botao{
    display: none;
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho__botao:checked ~ .cabecalho__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../img/Menu\ Aberto.svg");
}

.cabecalho__botao:checked ~ .cabecalho__rotulo{
    background: var(--azul-gradiente);
}



.cabecalho__imagem{
    padding: 1em;
}

.cabecalho__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.cabecalho__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.lista-menu__titulo, .lista-menu__item{
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__titulo{
    color: var(--amarelo);
    font-weight: bold;
}

.lista-menu__link{
    text-decoration: none;
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cabecalho__texto{
        display: none;
}

@media screen and (min-width: 1024px){

    .cabecalho__titulo, .cabecalho__titulo--negrito{
         font-family: var(--fonte-secundaria);
         font-size: 30px;   
         color: var(--preto);
    }

    .cabecalho__titulo{
        font-weight: 400;
        display: block ;
    }

    .cabecalho__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .cabecalho__imagem-transparente{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .cabecalho__texto{
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-gradiente);
        color: var(--branco);
    }

    .opcoes__item{
        padding: 2em 1em;
    }
}

@media screen and (min-width: 1728px){

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    .cabecalho__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
    }

    .cabecalho__texto{
        display: block;
    }

    .lista-menu__item:hover{
        background: var(--azul-gradiente);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
    }
}