hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1.5em;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__titulo{
        font-size: 14px;
        color: var(--cinza-rodape-titulo);
        padding-bottom: 1.5em;
    }

    .lista-rodape__item{
        padding-bottom: 1em;
        display: flex;
        align-items: center;
    }

    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza-rodape-link);
        font-size: 14px;
        padding-left: 0.7em;
    }
}

@media screen and (min-width: 1728px){
    
    .rodape{
        padding: 3em 1em;
    }
    
    .lista-rodape{
        border-left: 1px solid var(--cinza-rodape-titulo);
        padding-left: 1em;
    }
}