.topicos{
    background: var(--azul-gradiente);
    text-align: center;
    padding-bottom: 1em;
}

.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    padding: 1.5em 0;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista__item{
    margin: 1.5em 0.5em;
}

.lista__botao{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--amarelo);
    padding: 1em;
}

@media screen and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
    }

    .lista__item{
        margin: 2.5em 1em;
    }

    .lista__botao{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px){

    .topicos{
        padding: 1em 20vw;
    }

    .topicos__titulo{
        font-size: 32px;
    }
}